<!-- based on Three.js example:
https://threejs.org/examples/#css3d_youtube

move your mouse to the white area around the cube.
hold down your mouse button and drag to rotate around.
-->
<div id="container"></div>
<div id="blocker"></div>
<div style="position:absolute;
            left:10px;
            top:20px;
            z-index:100;"><b>YouTube Video Player in Three.js</b><br>
  Based on original Three.js demo: 

  Move your mouse over the white area around the cube.<br>
  Hold your mouse button down and drag...<br>
  You will rotate the "cube."
</div>

<script type="module" src="/static/js/vrex.js"></script>